<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="css.css">
    <title>위메프api</title>
</head>
<body>
    <% if(message){alert(message)} %> 
    <header>
        <div>
            <h1>위메프api</h1>
            <a href="/get">api 불러오기</a>
            <a href="/post">api 추가하기</a>
            <a href="/delete">api 삭제하기</a>
        </div>
        <br>
        <div>
            <a class="wemake_link" href="/category">카테고리 조회</a>  
            <a class="wemake_link" href="/label">상품속성라벨 조회</a>  
            <a class="wemake_link" href="/notice">상품정보고시 조회</a>  
            <a class="wemake_link" href="/seller">판매자배송정책 조회</a>  
            <!-- <a class="wemake_link" href="/sellerpol1">판매자배송정책(policy) 조회</a>  -->
            <a class="wemake_link" href="/product">상품일괄 등록,수정</a>
        </div>
    </header>
</body>
</html>